<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" id="site-name" href="/">
        {{ site.name }}
      </a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Posts&nbsp;<span class="badge">{{ site.posts.size }}</span><b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            {% for info in site.data.categories %}
              {% assign category_id = info[0] %}
              {% assign category_description = info[1]['name'] %}
              {% include category-menu-item.html %}
            {% endfor %}
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Projects&nbsp;<span class="badge">{{ site.data.projects.size }}</span><b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            {% for project in site.data.projects %}
            {% assign project_id = project[0] %}
            {% include project-menu-item.html %}
            {% endfor %}
          </ul>
        </li>
        <li>
          <a href="{{site.github}}" target="_blank">
            <span class="visible-xs visible-md visible-lg">GitHub</span>
            <span class="hidden-xs hidden-md hidden-lg">
              <i class="fa fa-github"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="/feed.xml">
            <span class="visible-xs visible-md visible-lg">RSS</span>
            <span class="hidden-xs hidden-md hidden-lg">
              <i class="fa fa-rss"></i>
            </span>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="visible-xs visible-md visible-lg">
              Contacts<b class="caret"></b>
            </span>
            <span class="hidden-xs hidden-md hidden-lg">
              <i class="fa fa-user"></i><b class="caret"></b>
            </span>
          </a>
          <ul class="dropdown-menu">
            {% for contact in site.data.owner.contacts %}
            <li class="contact-link">
              <a href="{{contact[1]}}" target="_blank">
                <i class="fa fa-fw fa-lg fa-{{contact[0] | downcase | replace: '_', '-'}}"></i>
                {{contact[0] | replace: '_', ' '}}
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
