<p class="post-preview">
  <h3>
    <a class="post-title" href="{{ post.url }}">{{ post.title }}</a>
  </h3>
  <p class="post-details">
    <div class="small">
      <ul class="post-info">
        <li>
          <span><i class="fa fa-calendar"></i> {{ post.date | date: "%d/%m/%Y" }}</span>
        </li>
        <li>
          <span><i class="fa fa-caret-right"></i> {{ site.post_categories[post.category]['name'] }}</span>
        </li>
      </ul>
    </div>
  </p>
  <blockquote class="post-excerpt">
    {{ post.excerpt }}
  </blockquote>
  <hr>
</p>