<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-8">
      <div class="input-group search-input">
        <span class="input-group-btn">
          <button id="btn-search" class="btn btn-default">
            <i id="search-image" class="fa fa-search"></i>
          </button>
        </span>
        <input id="search-input" type="text" placeholder="Pesquisar"
             class="form-control handwrite">
        </input>
        <span class="input-group-btn">
          <button id="btn-clear-search" class="btn btn-default">
            x
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
<div id="search-result" class="list-group container"></div>
