<div class="container">
  <div class="row">
    {% include site-alert.html %}
    <div class="col-sm-4">
      <div class="input-group search-input">
        <span class="input-group-btn">
          <button id="btn-search" class="btn btn-default">
            <i id="search-image" class="fa fa-search"></i>
          </button>
        </span>
          <input id="search-input" type="text" placeholder="Search..." class="form-control"/>
        <span class="input-group-btn">
          <button id="btn-clear-search" class="btn btn-default">
            x
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
<div id="search-result" class="list-group container"></div>
